.logo {
    width: 79px;
    height: $logo-height;
    background-image: url(/i/tromart63.png);
    cursor: pointer;
    outline: none;
}

@media (max-width: $mobile-width) {
    .logo {
        width: 58px;
    }
}
